/* line 4, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  background: linear-gradient(359deg, #00b93b, #00b5ff);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

/* line 14, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
p {
  font-size: 16px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 81%;
  }
  100% {
    background-position: 0% 20%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 81%;
  }
  100% {
    background-position: 0% 20%;
  }
}
/* line 32, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.margin {
  margin-bottom: 45px;
}

/* line 33, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.body-text, .bg-1, .bg-2, .bg-3, .bg-4 {
  font-size: 30px;
  color: #ffffff;
}

/* line 46, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.bg-3 {
  color: #555555;
}

/* line 55, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.spaced {
  letter-spacing: 5px;
}

/* line 58, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* line 62, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
}

/* line 70, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

/* line 73, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 78, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 82, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin .checkbox {
  font-weight: 400;
}

/* line 85, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

/* line 92, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 95, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 100, C:/Users/Tim/Documents/Rails/Bella/app/assets/stylesheets/pages.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
