<!-- Begin page content -->

<div class="container">
  <main role="main" class="container">
    <div class="mt-1">
      <h1 class="spaced" style="font-family: Roboto">Bell Comics</h1>
    </div>
    <p class="lead">My life in comics.</p>

    <div class="text-center">
      <!--<img src="banner.jpg" class="rounded" alt="Bell Comics banner" />-->
    </div>

    <div class="text-center main-comic">
      <h2><%= @comic.id %>: <%= @comic.title %></h2>
      <%= image_tag(@comic.image.url, alt: @comic.alt, id: "comic-image") %>
    </div>
    <div class="text-center buttons">
      <%= link_to "View all comics", comic_url(@comic) %>
    </div>

  </main>



<hr />
  <footer class="footer">
    <div class="container text-center">
      <a href="/about" style="spaced">About me</a> • <a href="mailto:busterbrownsgirl@gmail.com">Contact Me</a>
    </div>
  </footer>
</div>
