<!-- Begin page content -->


<main role="main" class="container">
   <div class="mt-1">
     <h1 class="spaced" style="font-family: Roboto">Bell Comics</h1>
   </div>


   <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
   <p>Use <a href="#">the sticky footer with a fixed navbar</a> if need be, too.</p>
</main>




<footer class="footer">
   <div class="container">
     <a href="/about">About me</a>
   </div>
</footer>
